/*Colors*/
$pharagraph-color: #333333;
$header-color: #a6a6a6;
$sidebar-pharagraph: #999999;
$sidebar-pharagraph-2: #808080;
$sidebar-background: #191919;
$sidebar-hover: #282828;
$menu-pharagraph: #9c9c9c;
$links: #56819f;
$links-hover: #b1bfbf;
$main-background: #ffffff;
$elemnt-background: #f58220;
$elemnt-2-background: #04ae00;
$borders: #e3e3e3;

/*Fonts*/
$main-font: Roboto;

/* Font size*/

$main-font-size: 100px;
$second-font-size: 14px;
$menu-font-size-1: 20px;
$menu-font-size-2: 13px;
