@import "variables";
@import "mixins";
@import "normalize";
@import "layout";

h2 {
	color: $header-color;
	font-family: $main-font;
	font-size: $main-font-size;
	font-weight: 500;
	line-height: 42px;
	text-transform: uppercase;
}

h3 {
	color: $header-color;
	font-family: $main-font;
	font-size: $main-font-size;
	font-weight: 700;
	line-height: 42px;
	text-transform: uppercase;
	
}

h4 {
	color: $header-color;
	font-family: $main-font;
	font-size: $main-font-size;
	font-weight: 700;
	line-height: 17px;
}

