.general-statistic {
    height: 798px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  background-color: $main-background;
  margin: {
    left: 206px;
    top: 78px;
    right: 18px;
  }
  
  h2 {
      margin: {
          left:17px;
          top: 19px;
      }
  }
}
