.topbar {
  width: 100%;
  height: 61px;
  float: right;
  position: fixed;
  border: 1px solid $borders;
  border: {
    left: none;
    top: none;
  }
  overflow: hidden;
  .v {
    display: flex;
    justify-content: flex-end;
    a {
      float: left;
      display: block;
    }

    .horizontal-line {
      width: 2px;
      height: 61px;
      background-color: $borders;
    }
  }
}
