.yourManager {
    h3 {
        margin: {
            top: 20px;
            left: 20px;
        } 
    }
    
    .manager-photo-container {
        position: relative;
    
        .manager-photo {
           
            
            margin: {
                top:-10px;
                left: 20px;
                right: 10px;
            } 
        }

        .manager-link {
            //display: block;
            position: relative;
            bottom: 15px;
            margin-top: -120px;
        }


        .online-photo-container {
            position: absolute;
            left: 50px;
            bottom: 43px;
        }
    }
}
//elementy reuzywalne 
.photo {
    border-radius: 50%;
    background-color: $sidebar-background;
    line-height: 42px;
}

.small-link {
    color: $links;
    font-family: Roboto;
    font-size: $second-font-size;
    font-weight: 300;
    line-height: 42px;
}

.link:hover {
    color: #ffa220;
}